<div class="top-container">
    <div class="left-container">
        <input type="text" placeholder="Search" [(ngModel)]="searchText">
    </div>
    <div class="right-container">
        <button type="button" class="add" routerLink="/add-blog">Write Blog</button>
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>
<div class="middle-container">
    <div class="down-container">
        <div class="top-data">
            <img src="../../assets/man-avatar.png" alt="user-profile" class="top-profile">
            <p class="top-date">July 15, 2022</p>
        </div>
        <div class="title">
            <div class="top">
                <h3 class="top-title">
                    How to create a modal dialog component in Angular
                </h3>
            </div>
            <div class="middle">
                <p class="top-story">
                    Modal dialogs are great for when you need to restrict a user to a particular action before they can
                    return
                    to the normal use of the application. For instance, when you try to close Microsoft Word...
                </p>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <img src="../../assets/angular_image.png" alt="right-profile" class="right-image">
    </div>
</div>