<nav class="navbar">
    <ul>
        <li>
            <a class="brand-logo">Bright Side</a>
        </li>
        <li class="burger" (click)="toggleNavbarMenu()">
            <strong class="material-icons">{{isMenuOpen ? 'close' : 'menu'}}</strong>
        </li>
        <li class="menu" [class.is-open]="isMenuOpen">
            <a class="menu-items" routerLink="/dashboard/home">Home</a>
            <a class="menu-items">About</a>
            <a class="menu-items" routerLink="/blogs">Blogs</a>
            <a class="menu-items">sign in/up</a>
        </li>
    </ul>
</nav>
<div>
    <router-outlet></router-outlet>
</div>