<div class="container">
    <div class="left-container">
        <div class="container-image">
            <img src="../../assets/signin-image.jpg" alt="signup-image" class="left-image">
        </div>
        <div class="check">
            <a class="auth" routerLink="/signup">Create an Account?</a>
        </div>
    </div>
    <div class="right-container">
        <div class="heading">
            <h2 class="heading">Sign In</h2>
        </div>
        <form>
            <span class="fa-solid fa-envelope"></span>
            <input type="text" placeholder="Enter your email">
            <span class="fa-sharp fa-solid fa-key"></span>
            <input type="password" placeholder="Password">
        </form>
        <div class="button-class">
            <button type="button" class="btn">Register</button>
        </div>
        <div class="icons">
            <span class="text-bottom">or Login With</span>
            <span class="google icon-class">
                <img src="../../assets/google.png" alt="google-icon">
            </span>
            <span class="facebook icon-class">
                <img src="../../assets/facebook.png" alt="facebook-icon">
            </span>
            <span class="twitter icon-class">
                <img src="../../assets/twitter.png" alt="twitter-icon">
            </span>
        </div>
    </div>
</div>