.container {
    display: flex;
    flex-direction: row;
    margin: 4% auto;
    min-height: 88vh;
    justify-content: space-evenly;
    box-shadow: 6px 9px 12px #e6e6e6;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading {
    margin: 20px auto;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input {
    width: 350px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: groove;
    margin: 20px 20px;
}

input:focus {
    outline: none;
}

span {
    position: relative;
}

.fa-envelope {
    position: absolute;
    top: 300px;
}

.fa-key {
    position: absolute;
    top: 370px;
}


.button-class {
    margin: -50px auto 0 ;
}

.btn {
    width: 150px;
    font-size: large;
    font-weight: 600;
    padding: 10px;
    border: none;
    margin: 30px auto 0;
    background-color: #b3b3ff;
}

.btn:hover {
    background-color: #9999ff;
}

.btn:active{
    background-color: #8080ff;
    color: white;
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.check{
    margin: 100px auto 0;
}

a{
    color: black;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.left-image{
    width: 300px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon-class{
    cursor: pointer;
    transition: transform .2s;
}

.icon-class:hover{
    transform: scale(1.2);
}

.text-bottom{
    margin: 10px 0 0 0;
}