<form [formGroup]="blogForm">
    <input type="text" formControlName="title" placeholder="Enter the title">
    <p-editor formControlName="content" [styleClass]="'text-editor'"></p-editor>
    <button (click)="postStory()" class="push-story">Publish Story</button>
</form>

<div class="instructions">
    <div class="heading">
        <h5 class="header">Writing Instructions</h5>
    </div>
    <div class="points">
        <ul>
            <li>Give the <span class="span-class">title</span> to your story</li>
            <li>Add heading using the <span class="span-class">heading</span> tab</li>
            <li>You can change <span class="span-class">font-family</span> (It is limited to 3 as of now)</li>
            <li>You can add <span class="span-class">bold</span> texts using B option from toolbar</li>
            <li>You can also add <span class="span-class">Italic</span> text and also <span class="span-class">underline</span> the texts</li>
            <li>Colors, to change <span class="span-class">text</span> or <span class="span-class">background</span> of text.</li>
            <li>Align the text using <span class="span-class">alignment</span> tab</li>
            <li>Add <span class="span-class">links</span> by selecting a word</li>
            <li>You can also add <span class="span-class">images</span> to your story using the image option</li>
            <li>To add <span class="span-class">code</span>, select code otpion from toolbar</li>
            <li><span class="span-class">Spelling mistakes?</span> Not anymore with the spell checker.</li>
        </ul>
    </div>
</div>