@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:host ::ng-deep .text-editor {
    width: 60%;
    margin: 60px;
}

input {
    width: 60%;
    margin: 70px 0 20px 60px;
    padding: 10px;
}

input:focus {
    outline: none;
}

.push-story {
    border: none;
    width: 20%;
    padding: 5px 10px;
    margin: 0 0 0 60px;
    background-color: rgb(61, 99, 80);
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}

.push-story:active {
    background-color: rgb(31, 51, 41);
}

.instructions {
    position: absolute;
    top: 70px;
    left: 68%;
    min-height: 100px;
    width: 380px;
    box-shadow: 3px 3px 4px 5px #d9d9d9;
}

.heading {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.header {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.3rem;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    font-family: 'Unbounded', cursive;
    font-size: small;
    padding: 3px;
    margin: 2px 0 0 10px;
}