<div class="container">
    <div class="body">
        <form [formGroup]="submitForm">
            <div class="header">
                <input type="text" class="title" placeholder="Enter title" formControlName="title">
            </div>
            <div class="body">
                <textarea name="body-content" id="body-content" cols="30" rows="10" placeholder="Enter your story"
                    formControlName="content" (focus)="showButton()" (blur)="hideButton()">
                </textarea>
            </div>
            <div class="bottom">
                <button type="button" class="add-button" (click)="postStory()">Post Your Story</button>
            </div>
        </form>
    </div>

    <div class="expand-button" [style.display]="buttonContainerVisible ? 'flex' : 'none'">
        <div>
            <ul>
                <li>
                    <strong class="fa-solid fa-image fa-xl"></strong>
                </li>
                <li>
                    <strong class="fa-solid fa-link fa-xl"></strong>
                </li>
                <li>
                    <strong class="fa-solid fa-code fa-xl"></strong>
                </li>
            </ul>
        </div>
    </div>
</div>