<form [formGroup]="blogForm">
    <input type="text" formControlName="title" placeholder="Enter the title">
    <p-editor formControlName="content" [styleClass]="'text-editor'"></p-editor>
    <button (click)="postStory()" class="push-story">Publish Story</button>
</form>

<div class="instructions">
    <div class="heading">
        <h5 class="header">Writing Instructions</h5>
    </div>
    <div class="points">
        <ul>
            <li>Give the title to your story</li>
            <li>For heading, choose the first option from toolbar and you can add heading and subheading</li>
            <li>You can change the fon-family with the second option. (It is limited to 3 as of now)</li>
            <li>You can add bold texts using B option from toolbar</li>
            <li>You can also add Italic text and also underline the texts</li>
            <li>Colors, to change text or background of text.</li>
            <li>Alignment of text can also be done using the aligning options from toolbar</li>
            <li>To add links, type the link and then select the typed link and click the link option from toolbar</li>
            <li>You can also add images to your story using the image option</li>
            <li>To add code, select code otpion from toolbar and either you can type or paste the code from your
                code-editor</li>
            <li>Spelling mistakes? Not anymore with the spell checker.</li>
        </ul>
    </div>
</div>