<div class="top-container">
    <div class="top-title">
        <h3 class="title">Subscribe to our News Letter</h3>
        <p class="support-text">
            Join our <span class="bold">newsletter</span> to receive email updates on new blog <span class="bold">announcements</span>, current trends, articles and tools
            for developers and more information about our solutions and more.
        </p>
    </div>
    <div class="top-form">
        <form>
            <input type="text" placeholder="Enter your email">
            <button class="btn" type="button">SEND</button>
        </form>
    </div>
</div>