<div class="container">
    <div class="left-container">
        <div class="heading">
            <h2 class="heading">SignUp</h2>
        </div>
        <form>
            <span class="fa-solid fa-user"></span>
            <input type="text" placeholder="Enter your name">
            <span class="fa-solid fa-envelope"></span>
            <input type="text" placeholder="Enter your email">
            <span class="fa-sharp fa-solid fa-key"></span>
            <input type="password" placeholder="Password">
            <span class="fa-solid fa-unlock-keyhole"></span>
            <input type="password" placeholder="Repeat password">
        </form>
        <div class="button-class">
            <button type="button" class="btn">Register</button>
        </div>
    </div>
    <div class="right-container">
        <div class="container-image">
            <img src="../../assets/signup-image.jpg" alt="signup-image" class="right-image">
        </div>
        <div class="check">
            <a class="auth" routerLink="/login">Already have an account?</a>
        </div>
    </div>
</div>