<section class="introduction">
    <div class="intro">
        <div class="home-top">
            <div class="gif">
                <img src="../../assets/analytic-image.gif" alt="gif-image" class="gif-image">
            </div>
            <div class="home-text">
                <h4 class="top">
                    things aren't always <span class="black">#000000</span> and <span class="white">#ffffff</span>
                </h4>
                <h6>Discover the new technology trends, changing everyday</h6>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1670842969">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>
</section>
<div class="top-container">
    <div class="title">
        <h3>Trending Posts</h3>
    </div>
    <div class="image-container">
        <div class="first-image">
            <img src="../../assets/pexels_1.jpg" alt="image" class="image-items image-hover">
            <div class="text">
                <h6 class="first-title">Google "errors" correctly, know how can you be more productive.</h6>
            </div>
        </div>
        <div class="second-image">
            <img src="../../assets/pexels_2.jpg" alt="image" class="image-items image-hover">
            <div class="text">
                <h6 class="second-title">Writing design ideas in a proper way</h6>
            </div>
        </div>
        <div class="third-image">
            <img src="../../assets/pexels_3.jpg" alt="image" class="image-items image-hover">
            <div class="text">
                <h6 class="third-title">Making proper documentation for the application</h6>
            </div>
        </div>
        <div class="fourth-image">
            <img src="../../assets/pexels_4.jpg" alt="image" class="image-items image-hover">
            <div class="text">
                <h6 class="fourth-title">Knowing the audience, and creating features accordingly</h6>
            </div>
        </div>
        <div class="fifth-image">
            <img src="../../assets/pexels_7.jpg" alt="image" class="image-items image-hover">
            <div class="text">
                <h6 class="fifth-title">Writing clean and bug free code, for longer run</h6>
            </div>
        </div>
        <div class="sixth-image">
            <img src="../../assets/pexels_6.jpg" alt="image" class="image-items image-hover">
            <div class="text">
                <h6 class="sixth-title">Clean and readable code</h6>
            </div>
        </div>
    </div>

</div>


<!-- Carousel -->

<div class="carousel">
    <app-carousel></app-carousel>
</div>


<!-- Recent -->

<div class="recent">
    <div class="header">
        <h3 class="heading">Recent Posts</h3>
    </div>
    <div class="top-container-recent">
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
        <div class="inside-container">
            <div class="top-image same-width">
                <img src="../../assets/angular_image.png" alt="blog-image" class="image">
            </div>
            <div class="same-width top-tag">
                <p class="tag">Angular</p>
            </div>
            <div class="same-width top-title">
                <h6 class="recent-title">
                    Standalone components in Angular 14 & 15
                </h6>
            </div>
            <div class="same-width top-author">
                <img src="../../assets/man-avatar.png" alt="author-image" class="author-image">
                <p class="author-name">Carrol Atkinson</p>
                <p class="blog-date">July 29, 2021</p>
            </div>
            <div class="same-width top-text">
                <p class="summary">
                    Standalone components provide a simplified way to build Angular applications. Standalone components,
                    directives, and pipes aim to streamline the authoring experience by reducing the need for NgModules.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Newsletter -->

<div class="news-letter">
    <app-newsletter></app-newsletter>
</div>


<!-- footer -->

<div class="footer">
    <app-footer></app-footer>
</div>